asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.7
Django==5.1.4
django-cors-headers==4.6.0
django-rest-knox==5.0.2
django-stubs==5.1.1
django-stubs-ext==5.1.1
djangorestframework==3.15.2
djangorestframework-stubs==3.15.2
drf-yasg==1.21.8
dynaconf==3.2.6
hvac==2.3.0
idna==3.10
inflection==0.5.1
loguru==0.7.3
mysqlclient==2.2.6
packaging==24.2
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
shortuuid==1.0.13
sqlparse==0.5.1
tomli==2.2.1
types-PyYAML==6.0.12.20240808
types-requests==2.32.0.20241016
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==2.2.3
validators==0.34.0
